
body {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  margin: 0;
}


a { color: white; text-decoration: none; }

.dashboard #front, .dashboard #back {
     border-radius: 10px;
}

/* Front */
.dashboard #front {
  border: 3px solid rgba(255, 255, 255, 0.1);
}

img { width: 75px; height: 60px; }
ul { display: inline; auto; float: right; list-style: none; margin: 0; text-align: right; }
ul li { display: inline; }
ul li a { text-align: center; font-size: 12px; margin: 12px; border-bottom: 1px solid transparent; }
header { white-space: nowrap; }
table { width: 100%; margin-top: 18px 0; font-size: 12px; }
tr:last-child td { border-bottom: none; }
td { width: 33%; border-bottom: 1px solid #666; padding: 4px; white-space: nowrap; }

#front {
  background: black;
  padding: 10px;
  min-height: 377px;
  position: relative;
}

#front h1 {
  font-size: 175%;
  position: relative;
  left: 24px;
  top: 24px;
  display: inline;
  margin: 0;
  padding: 0;
  font-weight: normal;
  vertical-align: top;
  white-space: nowrap;
}

.flipper {
  position: absolute;
  bottom: 3px;
  right: 3px;
  text-align: center;
  display: inline;
  width: 16px;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  font-family: "Baskerville", "Times New Roman",  serif;
  margin: auto;
}

/* Back */
#back { display: none; font-size: 12px; padding: 12px; }
.dashboard #back {
     border: 3px solid rgba(0, 0, 0, 0.3);
}
#back h1 {
  font-family: Rockwell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
#back a { float: right;  }
label { display: block; margin-top: 16px; }
select { width: 200px; }
/* Thanks Marino! */
button {
  display: block;
  margin-top: 16px;
  color: white;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
  padding: 4px 10px 5px;
  margin: 16px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;
  background: rgba(0,0,0,0.25);
  box-shadow:
    0 1px 1px rgba(0,0,0,0.25),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 2px 0 rgba(255,255,255,0.10),
    inset 0 7px 2px rgba(255,255,255,0.1),
    inset 0 2px 5px rgba(255,255,255,0.25),
    inset 0 0px 5px rgba(0,0,0,0.3);
}
