body { 
    margin: 0px; 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: white;
    background: transparent;
}

table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

td {
    white-space: nowrap;
    text-align: right;
    padding: 5px;
    border: 1px solid #222222;
}

a {
    color: white;
    text-decoration: none;
    margin-bottom: 1px;
}

a:hover {
  border-bottom: 1px dotted;
  margin-bottom: 0px;
}

h1 {
    font-size: 16px;
    font-weight: bold;
    display: inline;
    vertical-align: middle;
    margin: 0px 0px 0px 12px;
}

.side {
    background: black;
    margin: 12px;
    padding: 12px 0px 12px 0px;
    min-height: 412px;

    border: 1px solid black;
    border-radius : 12px;
    -moz-border-radius : 12px;
    -webkit-border-radius : 12px;

    box-shadow: black 1px 6px 9px;
    -moz-box-shadow: black 1px 6px 9px;
    -webkit-box-shadow: black 1px 6px 9px;
}

.side .top { margin: 0px 12px 12px 12px; }

#front { position: relative; }

#front .top img { width: 50px; height: 50px; vertical-align: middle; }

.top #links {
    float: right;
}

#flip {
    position: absolute;
    bottom: 3px;
    right: 5px;
    text-align: center;
    display: block;
    width: 18px;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    font-family: Times, "Times New Roman", serif;
    margin: auto;
}

#flip:hover { 
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 8px;
    background-color: white;
    opacity: 0.2;
    color: black;
    cursor: pointer;
}
#schedule {
    overflow: auto;
    margin: 0px 0px 18px 8px;
}

#about {
    border-top: 2px solid;
    border-bottom: 2px solid;
}

#back { 
    display: none;
}

#back .top {
    padding: 24px 12px 24px 12px;
}
#back h1 {
    white-space: nowrap;
    font-size: 24px;
    font-family: "Rockwell Extra Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 2em;
    margin-bottom: 4em;
    display: block;
}

#back a {
    text-align: right;
    float: right;
}

form { margin: 12px 0px 0px 24px; }
form .item { width: 100%; clear: both; margin-bottom: 12px; }
form label { width: 80px; float: left; display: block; margin-bottom: 12px; }
form select { float: left; display: block; margin-bottom: 12px; }
#done {
    float: right;
    margin-right: 64px;
}

