<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.smith.widget.Untitled</string>
    <key>CFBundleName</key>
    <string>Untitled</string>
    <key>CFBundleDisplayName</key>
    <string>Untitled</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>MainHTML</key>
    <string>main.html</string>
    <key>CloseBoxInsetX</key>
    <integer>15</integer>
    <key>CloseBoxInsetY</key>
    <integer>15</integer>
    <key>Height</key>
    <integer>380</integer>
    <key>Width</key>
    <integer>280</integer>
</dict>
</plist>
