html, body { height: 100%; overflow: hidden; }


body {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  margin: 0;
}

body.dashboard { min-height: 360px; }
a { color: white; text-decoration: none; }
a:hover { border-bottom: 1px dotted; }

.dashboard #front, .dashboard #back {
     border-radius: 10px;
}

/* Front */
.dashboard #front {
  border: 3px solid rgba(255, 255, 255, 0.1);

}
img { width: 75px; height: 60px; }
ul { display: inline; auto; float: right; list-style: none; margin: 0; text-align: right; }
ul li { display: inline; }
ul li a { text-align: center; font-size: 12px; margin: 12px; border-bottom: 1px solid transparent; }
header { white-space: nowrap; }
table { width: 100%; margin-top: 18px 0; font-size: 12px; }
tr:last-child td { border-bottom: none; }
td { width: 33%; border-bottom: 1px dotted; padding: 4px 0; white-space: nowrap; }

#front { height: 100%; padding: 10px; background: black; }
.dashboard #front { min-height: 360px; height: auto; }

#front h1 {
  font-size: 175%;
  position: relative;
  left: 24px;
  top: 24px;
  display: inline;
  margin: 0;
  padding: 0;
  font-weight: normal;
  vertical-align: top;
  white-space: nowrap;
}

.flipper {
  position: absolute;
  bottom: 20px;
  right: 3px;
  text-align: center;
  display: inline;
  width: 18px;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  font-family: Times, "Times New Roman", serif;
  margin: auto;
}

.flipper:hover {
  border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 8px;
  background-color: white;
  opacity: 0.2;
  color: black;
  cursor: pointer;
}

/* Back */
/* #back { display: none; background: url(images/backgroundTile.png); height: 100%; padding: 12px; font-size: 12px; } */
#back { display: none; background: url(images/backgroundTile.png); font-size: 12px; height: 100%; padding: 12px; }
.dashboard #back {
     border: 3px solid rgba(0, 0, 0, 0.3);
     height: auto;
     min-height: 360px;
}
#back h1 {
  font-family: Rockwell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
#back a { float: right;  }
label { display: block; margin-top: 16px; }
select { width: 200px; }
button { display: block; margin-top: 16px; }
