body { 
    margin: 0px; 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    background: transparent;
    padding: 5px;
}

table {
    font-size: 12px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

td {
    white-space: nowrap;
    text-align: right;
    padding: 5px;
    border: 1px solid #222222;
}

a {
    font-size: 16px;
    font-weight: bold;
	color: white;
    text-decoration: none;
    margin-bottom: 1px;
}

a:hover {
  border-bottom: 1px dotted;
  margin-bottom: 0px;
}

h1 {
  font-size: 16px;
  font-weight: bold;
  display: inline;
  height: 50px;
  vertical-align: middle;
}

.side {
    background: black;
    border: 1px solid black;
    border-radius : 12px;
    -moz-border-radius : 12px;
    -webkit-border-radius : 12px;

}

#top {
    padding : 10px;
}

#top img { width: 50px; height: 50px; }

#top #links {
    float: right;
}

#top #links a {
    display : block;
}

#flip {
    text-align: right;
    display: block;
}

#teamLogo {
    position: absolute;
    left: 20px;
    top: 15px;
    z-index: 0;
    width: 50px;
    height: 50px;
    background-color: #000000;
}

#schedule {
}

#about {
    border-top: 2px solid;
    border-bottom: 2px solid;
}

#back { 
    display: none;
}

#back h1 {
    white-space: nowrap;
    font-size: 24px;
    font-family: "Rockwell Extra Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#done {
}

