* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-attachment:fixed;

  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

a { color: white; text-decoration: none; }

/* Front */
img { width: 75px; height: 60px; position: absolute; left: 0; top: 0; }
header { white-space: nowrap; }
table { width: 100%; margin-top: 18px 0; }
tr:last-child td { border-bottom: none; }
td { width: 33%; border-bottom: 1px solid #666; padding: 4px; white-space: nowrap; }

#front {
  background: black;
  padding: 3px;
  position: relative;
  height: 100%;
}

#front header {
  height: 63px;
  position: relative;
}

#flipper {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  font-size: 35px;
  height: 44px;
  width: 44px;
  margin: auto 0;
  text-align: center;
}

#flipper.active {
  text-shadow: 0px 0px 15px #fff;
  background: -webkit-radial-gradient(center, circle cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 70%);
}

#front h1 {
  font-size: 125%;
  margin: 0px 49px 0px 85px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-align: center;
  padding: 0;
  height: 63px;
  font-weight: normal;
  vertical-align: top;
}

/* Back */
#back { display: none; background: #aaaaaa; height: 100%; }
/*#back-scroll-wrap { height: 100%; }*/
#back-scroll-wrap div { margin: 10px; }

/* Taken from https://gist.github.com/1521216 & http://www.colorzilla.com/gradient-editor/ */
#back header {
  position: relative;
  height: 44px;
  background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  text-align: center;
  line-height: 44px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: rgba(0,0,0,.5) 0 -1px;
}

#back h1 { font-size: 100%; margin: 0; }

#back button {
  height: 32px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  left: 8px;
  top: 6px;
  padding: 2px 10px;
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#737373),
    color-stop(0.50, #3b3b3b),
    color-stop(0.50, #242424),
    to(#000000));
  border-radius: 7px;
  border: 1px solid #000000;
  text-shadow:
    0px -1px 0px rgba(000,000,000,1),
    0px 1px 0px rgba(255,255,255,0.2);
}

#back button.active {
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#222222),
    color-stop(0.50, #3b3b3b),
    color-stop(0.50, #242424),
    to(#000000));
}

#back form {
  margin: 0;
  border: 2px solid #888888 inset;
  border-radius: 7px;
  color: black;
  background: white;
}

#back fieldset {
  border: none;
  margin: 0;
  border-bottom: 1px solid #dddddd;
}

#back fieldset.last {
  border-bottom: none;
}

#back fieldset label {
  font-weight: bold;
}

#back select {
  -webkit-appearance: none;
  border: none;
  background: transparent;
  font-size: 100%;
  color: #777777;
  float: right;
  direction: rtl;
}

#back .about {
  margin: 10px 0;
  color: #555555;
  /* from http://blog.robotforest.com/2009/08/10/emboss-text-with-css/ */
  text-shadow: 0px 1px 0px #e1e1e8;
  text-align: center;
}
#back .about h1 { font-weight: normal; display: inline; }
#back .about a { text-decoration: underline; text-shadow: none; }
